<p id="recipe-id" style="display: none;">{{post.id}}</p>
<main class="custom-wrapper-all">
    <div class="row justify-content-center">
        <div class="col-12 d-flex flex-column m-5 mb-0 custom-tab no-padding">
            <div class="m-5 d-flex justify-content-between align-items-center">
                <div id="recipe-title">
                    <h1 id="title">{{post.recipe_name}}</h1>
                    <div class="d-flex flex-row mb-1 mt-1 flex-wrap" id="genre-list">
                        {{#each post.Genres as |genre|}}
                        <span class="badge rounded-pill bg-primary mx-1 my-1">{{genre.name}}</span>
                        {{/each}}
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <!-- This could be user profile pic? -->
                        <!-- <img src="" alt="" width="32px" height="32px"> -->
                        <h4>By {{post.User.username}} - {{format_date post.createdAt}}</h4>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-lg btn-danger mx-3" id="back-btn"><i class="fas fa-chevron-left"></i> Go Back</button>
                </div>
            </div>
            <hr class="mx-5">
            <div class="row m-5{{#unless post.recipe_image}} justify-content-center{{/unless}}">
                {{!-- SERVE DIFFERENT LAYOUTS IF THERE IS AN IMAGE OR NOT --}}
                {{#if post.recipe_image}}
                <div class="card col-12 col-lg-6" id="card-image-upload">
                    <img src="{{post.recipe_image}}" class="img-fluid rounded" id="recipe-image">
                </div>
                {{/if}}
                <div class="col-12 col-lg-6 ps-5 d-flex justify-content-center align-items-center" id="card-right">
                    <div class="row" style="width: 100%;">
                        <div class="card">
                            <div class="row d-flex justify-content-around">
                                <div class="my-3 d-flex flex-column justify-content-center align-items-center">
                                    <div class="d-flex">
                                        <strong>Prep:</strong>
                                        <p id="prep-time" class="ms-2">{{post.prep_time}}</p>
                                    </div>
                                    <div class="d-flex">
                                        <strong>Cook:</strong>
                                        <p id="cook-time" class="ms-2">{{post.cook_time}}</p>
                                    </div>
                                </div>
                            </div>
                            <h2 class="m-2" style="text-decoration: underline;">Ingredients</h2>
                            <ul class="mx-2 custom-ingredient-list" style="list-style-type: none;" id="ingredient-list">
                                {{#each post.Ingredients as |ingredient|}}
                                <li class="d-flex flex-row">
                                    <input class="form-check-input custom-checkbox" type="checkbox">
                                    <div class="mx-3 d-flex justify-content-start">
                                        <p>{{ingredient.amount}}</p>
                                        <p class="ms-1">{{ingredient.unit}}</p>
                                        <p class="ms-1">{{ingredient.name}}</p>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mx-5">
            <div class="row m-5 justify-content-center">
                <div class="col-12 col-lg-10">
                    <h2 class="m-2" style="text-decoration: underline;">Steps</h2>
                    <div id="step-list">
                        {{#each post.Instructions as |step|}}
                        <div class="d-flex flex-row my-2 custom-step-list-item">
                            <h5>{{step.local_step_number}}. </h5>
                            <p class="mx-3">{{step.instruction}}</p>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-12 m-0 d-flex custom-tab-footer">
                <div class="d-flex flex-row align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        <div class="d-flex flex-row align-items-center">
                            <div class="mt-3 mx-3">
                                <p id="like-count"></p>
                            </div>
                            <button class="btn btn-secondary" id="like-button"><i class="far fa-thumbs-up"></i>  Like Recipe</button>
                        </div>
                        <button class="btn btn-secondary mx-2" id="save-button"><i class="fas fa-save"></i>  Save Recipe</button>
                    </div>
                </div>
                <div>
                    {{#if recipe_owner}}
                    <button class="btn btn-warning mx-2" id="recipe-update-btn"><i class="fas fa-edit"></i>  Update Recipe</button>
                    <button class="btn btn-danger" id="recipe-delete-btn"><i class="fas fa-trash-alt"></i>  Delete Recipe</button>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
        
    <div class="row d-flex justify-content-center my-5" id="comments">
        <div class="col-10 col-lg-8 d-flex flex-column p-3 custom-comment-wrapper">
            {{#if loggedIn}}
            <p class="mb-0">Comment as {{username}}:</p>
            <form class="d-flex flex-column mb-3">
                <textarea class="form-control" name="comment-body" id="comment-box" rows="4" placeholder="Share your thoughts!"></textarea>
                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-primary" type="submit" id="add-comment-btn">
                        <i class="fas fa-plus"></i> Add Comment
                    </button>
                </div>
            </form>
            {{/if}}
            {{#unless loggedIn}}
            <h4 class="text-center">Want to leave a comment?</h4>
            <div class="form-group p-2 text-center">
                <a href="/login">
                    <button type="submit" class="btn btn-danger w-50"><i class="fas fa-sign-in-alt"></i> Login</button>
                </a>
            </div>
            {{/unless}}
            <hr class="my-3">
            <div id="comment-list">
                {{#each post.Comments as |comment|}}
                <div class="card my-2" data-id="{{comment.id}}">
                    <div class="card-body">
                        <span>{{comment.content}}</span>
                    </div>
                    <div class="card-footer my-0 d-flex justify-content-between align-items-center">
                        <div>
                            <small><p class="my-1"><strong>{{comment.User.username}}</strong> on {{format_date comment.createdAt}}</p></small>
                        </div>
                        {{#if (isEqualTo comment.User.id comment.session_id)}}
                        <div>
                            <button class="btn btn-warning mx-2 comment-update">Edit</button>
                            <button class="btn btn-danger comment-delete">Delete</button>
                        </div>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>

<!-- SCRIPT -->
<script src="/js/recipe.js"></script>