{{!-- <div> --}}
<p id="recipe-id" style="display: none;">{{post.id}}</p>
<main class="container custom-wrapper-all">
    <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex flex-column m-5 mb-0 p-5 custom-tab">
            <div class="d-flex justify-content-between align-items-center">
                <div id="recipe-title">
                    <h1>{{post.recipe_name}}</h1>
                    <!-- <div class="mx-2">
                        <button id="like-btn" class="d-flex justify-content-center align-items-center">
                            <div class="d-flex justify-content-center align-items-center" style="background: lightblue; border-radius: 4px; width: 32px; height: 32px;">
                                <i class="far fa-thumbs-up"></i>
                            </div>
                            <div>
                                <p style="vertical-align: center;">4988</p>
                            </div>
                        </button>
                    </div> -->
                    <div class="d-flex flex-row mb-1 mt-1 flex-wrap">
                        {{#each post.Genres as |genre|}}
                        <span class="badge rounded-pill bg-primary mx-1 my-1">{{genre.name}}</span>
                        {{/each}}
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <!-- This could be user profile pic? -->
                        <!-- <img src="" alt="" width="32px" height="32px"> -->
                        <h4>By {{post.User.username}} - {{format_date post.createdAt}}</h4>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-lg btn-danger mx-3" id="back-btn"><i class="fas fa-chevron-left"></i> Go Back</button>
                </div>
            </div>
            <hr class="my-3">
            <div class="row m-2{{#unless post.recipe_image}} justify-content-center{{/unless}}">
                {{!-- SERVE DIFFERENT LAYOUTS IF THERE IS AN IMAGE OR NOT --}}
                {{#if post.recipe_image}}
                <div class="card col-12 col-lg-6" id="card-image-upload">
                    <img src="{{post.recipe_image}}" class="img-fluid rounded" id="recipe-image">
                </div>
                {{/if}}
                <div class="col-12 col-lg-6 ps-5 d-flex justify-content-center align-items-center" id="card-right">
                    <div class="row" style="width: 100%;">
                        <div class="card">
                            <div class="row d-flex justify-content-around">
                                <div class="my-3 d-flex flex-column justify-content-center align-items-center">
                                    <p><strong>Prep:</strong> {{post.prep_time}}</p>
                                    <p><strong>Cook:</strong> {{post.cook_time}}</p>
                                </div>
                            </div>
                            <h2 class="m-2" style="text-decoration: underline;">Ingredients</h2>
                            <ul class="mx-2 custom-ingredient-list" style="list-style-type: none;">
                                {{#each post.Ingredients as |ingredient|}}
                                <li class="d-flex flex-row">
                                    <input class="form-check-input custom-checkbox" type="checkbox">
                                    <p class="mx-3">{{ingredient.amount}} {{ingredient.unit}} {{ingredient.name}}</p>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-3">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <h2 class="m-2" style="text-decoration: underline;">Steps</h2>
                    <div id="step-list">
                        {{#each post.Instructions as |step|}}
                        <div class="d-flex flex-row my-2 custom-step-list-item">
                            <h5>{{step.local_step_number}}. </h5>
                            <p class="mx-3">{{step.instruction}}</p>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer col-12 m-5 mt-0 d-flex justify-content-between custom-tab-footer">
            <div>
                <button class="btn btn-secondary" id="like-button"><i class="far fa-thumbs-up"></i></i>  Like Recipe</button>
                <button class="btn btn-secondary mx-2" id="save-button"><i class="fas fa-save"></i>  Save Recipe</button>
            </div>
            <div>
                {{#if recipe_owner}}
                <button class="btn btn-danger" id="recipe-delete-btn"><i class="fas fa-trash-alt"></i>  Delete Recipe</button>
                {{/if}}
            </div>
        </div>
    </div>
        
    <div class="row d-flex justify-content-center mb-5" id="comments">
        <div class="col-10 col-lg-8 d-flex flex-column">
            {{#if loggedIn}}
            <p class="mb-0">Comment as {{username}}:</p>
            <form class="d-flex flex-column mb-3">
                <textarea class="form-control" name="comment-body" id="comment-box" rows="4" placeholder="Share your thoughts!"></textarea>
                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-primary" type="submit" id="add-comment-btn">
                        <i class="fas fa-plus"></i> Add Comment
                    </button>
                </div>
            </form>
            <hr class="my-3">
            {{/if}}
            <div id="comment-list">
                {{#each post.Comments as |comment|}}
                <div class="card my-2">
                    <div class="card-body">
                        <span>{{comment.content}}</span>
                    </div>
                    <div class="card-footer my-0 d-flex">
                        <small><p class="my-1"><strong>{{comment.User.username}}</strong> on {{format_date comment.createdAt}}</p></small>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>
{{!-- </div> --}}

<!-- SCRIPT -->
<script src="/js/recipe.js"></script>